@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.vine {
    background-color: transparent;
    position: absolute;
    left: -8.5em;
    top: -2em;
    object-fit: cover;
    z-index: 3005;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3F2B1B;
    margin: 0;
    padding: 0;
    width: 100%; /* Ensure the navbar spans the full width */
    overflow: visible;
}

/* Actual full bar component */
.navbar {
    background-color: #654321;
    padding: 0;
    width: 100%;
    z-index: 1;
    position: sticky;
    display: flex;              /* TODO: test */
    top: 28px;                  /* so that Daily Bruin logo remains at the top, uncovered by sticky */
    overflow: visible;
}

/* Style for link */
.nav-link {
    color: #ffffff
}

/* Container for each individual button */ 
.nav-component {
    background-color: #84A98C;
    cursor: pointer;
    flex: 1;             /* TODO: test */
    margin: 0em;          /* TODO: test */
    transition: 0.3s ease;  /* TODO: test */
    display: inline-flex;
}

.nav-component a {
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 13px;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
    /*background-color: #84a98c;*/
    text-transform: uppercase;
    padding-top: 0.3em;
}

.nav-component:hover {
    background-color: #9F8B70; /* Darker brown on hover */
}

.nav-component:active {
    background-color: #123456; /* Even darker brown when active */
}

.nav-button {
    width: 100%;
    background-color: transparent;
    border: 5px solid #F6E4E1;
    min-height: 30px;
    max-height: 80px;
}